// Global CSS
@use "global.scss";
@use "nav.scss";
@use "resume-item.scss";
@use "bootstrap-overrides.scss";


div.my-auto {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 1500px;
}

.mb-0, .subheading {
  text-transform: none;
}


